/* 
    Document   : layout
    Created on : Nov 23, 2010, 8:42:19 PM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

body {
	margin: 0;
	padding: 0;
}

body, input, textarea {
	font-family: helvetica, arial;
/*	font-size: 18px;*/
}

form {
	margin: 0;
	padding: 0;
}

/* General */
.error {
	color: red;
}

.success {
	color: green;
}

/*
Header
*/
#header .banner {
	-moz-border-radius: 9px;
	background-color: #800000;
	color: #ffffff;
	margin: 15px auto;
	width: 958px;
}

#header .banner .holder {
	padding: 5px 0 5px 25px;
	position: relative;
}

#header .banner .holder .site-title {
	font-size: 60pt;
/*	text-shadow: silver 1px 1px 2px;*/
}

#header .banner .holder .symbol {
	font-size: 60pt;
	position: absolute;
	right: 25px;
	top: -7px;
}

#header .banner .holder h1 {
	color: #9F7A7A;
	margin: -18px 0 0 56px;
	padding: 0;
	text-shadow: silver 1px 1px 1px;
}

/*
Page
*/
#page .container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

/*#page-content {
	font-size: 16px;
	line-height: 20px;
}*/

#page-content > .holder {
	padding: 2px 15px 15px 193px;
}

#navigation {
	-moz-border-radius: 9px;
	background-color: #800000;
	color: #ffffff;
	left: 0;
	min-height: 300px;
	position: absolute;
	top: 0;
	width: 172px;
}

#navigation a:link, #navigation a:visited {
	color: #ffffff;
}

#navigation > .holder {
	padding: 20px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}