#vehicleFuelLogs {
	font-size: 17pt;
	list-style: none;
}

#vehicleFuelLogs input {
	font-size: 17pt;
}

#vehicleFuelLogs input[type=text] {
/*	background-color: #DAF1FF;*/
	background-color: #FFFFB8;
	border: none;
	padding: 0;
}

#vehicleFuelLogs > li {
	border-bottom: 1px solid #ececec;
}

#vehicleFuelLogs > li:hover, #vehicleFuelLogs > li.odd:hover {
	background-color: #ececec;
}

#vehicleFuelLogs > li.odd {
	background-color: #f8f8f8;
}

#vehicleFuelLogs > li.altMonth1 {
	border-left: 3px solid #3230FF;
}

#vehicleFuelLogs > li.altMonth2 {
	border-left: 3px solid #B7BBFF;
}

#vehicleFuelLogs > li.available.unused {
	display: none;
}

#vehicleFuelLogs > li.editing {
	border-bottom: 3px dotted black;
	border-right: 3px dotted black;
	border-top: 3px dotted black;
}

#vehicleFuelLogs > li > form > .display {
	height: 86px;
	position: relative;
}

#vehicleFuelLogs > li > form > .display > .odometer {
	left: 9px;
	position: absolute;
	top: 33px;
}

#vehicleFuelLogs > li > form > .display > .odometer > .units {
	color: #d1d1d1;
	font-size: 12pt;
}

#vehicleFuelLogs > li > form > .display > .fuel {
	left: 138px;
	position: absolute;
	top: 33px;
}

#vehicleFuelLogs > li > form > .display > .fuel > .units {
	color: #d1d1d1;
	font-size: 12pt;
}

#vehicleFuelLogs > li > form > .display > .date {
	color: #c7c7c7;
	font-size: 12pt;
	left: 10px;
	position: absolute;
	top: 2px;
}

#vehicleFuelLogs > li > form > .display > .economy {
	left: 330px;
	position: absolute;
	top: 1px;
}

#vehicleFuelLogs > li > form > .display > .economy > .number {
	font-size: 46pt;
	color: #6EAB75;
}

#vehicleFuelLogs > li.editing > form > .display > .economy > .number {
	color: #CFCDCD;
}

#vehicleFuelLogs > li > form > .display > .economy > .units {
	color: #ababab;
	font-size: 36pt;
}

#vehicleFuelLogs > li > form > .display > .edit-button {
	bottom: 2px;
	display: none;
	font-size: 12pt;
	position: absolute;
	right: 16px;
}

#vehicleFuelLogs > li:hover > form > .display > .edit-button {
	display: block;
}

#vehicleFuelLogs > li.editing > form > .display > .edit-button {
	display: none;
}

/* Viewing */
#vehicleFuelLogs > li .edit {
	display: none;
}

/* Editing */
#vehicleFuelLogs > li.editing .edit {
	display: inline;
}
#vehicleFuelLogs > li.editing .view {
	display: none;
}

/* Edit Section */
#vehicleFuelLogs > li > form > .edit-section {
/*	background-color: #FFFFB8;*/
	display: none;
}
#vehicleFuelLogs > li > form > .edit-section > .separator {
	background-color: #d1d1d1;
	height: 1px;
	margin: 0 23px;
}

#vehicleFuelLogs > li > form > .edit-section > .holder {
	padding: 5px;
	position: relative;
}

#vehicleFuelLogs > li > form > .edit-section > .holder > .octane > label > input {
	width: 35px;
}

#vehicleFuelLogs > li > form > .edit-section > .holder > .submit {
	bottom: 5px;
	position: absolute;
	right: 5px;
}