#page-content {
	padding-left: 0;
	padding-right: 0;
}

#graph {
	margin-right: 30px;
}

.options > .add {
	font-size: 20pt;
}

#vehicleFuelLogs > li > form > .display > .odometer > .number {
	font-size: inherit;
}

#vehicleFuelLogs > li > form > .display > .fuel > .number {
	font-size: inherit;
}

#vehicleFuelLogs > li > form > .display > .economy {
	top: 5px;
}

#vehicleFuelLogs > li > form > .display > .economy > .number {
	font-size: 20pt;
}

#vehicleFuelLogs > li > form > .display > .economy > .units {
	font-size: 15pt;
}