/*
    Document   : layout
    Created on : Nov 23, 2010, 8:42:19 PM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

body {
	margin: 0;
	padding: 0;
}

body, input, textarea {
	font-family: helvetica, arial;
/*	font-size: 18px;*/
}

form {
	margin: 0;
	padding: 0;
}

/* General */
.error {
	color: red;
}

.success {
	color: green;
}

/*
Header
*/
#header {
	background-color: #800000;
}
#header .banner {
/*	-moz-border-radius: 9px;*/
/*	background-color: #800000;*/
	color: #ffffff;
	margin: 1px auto;
	width: 933px;
}

#header .banner {
	padding: 5px 0 5px 25px;
	position: relative;
}

#header .banner .site-title {
	font-size: 60pt;
/*	text-shadow: silver 1px 1px 2px;*/
}

#header .banner .symbol {
	font-size: 60pt;
	position: absolute;
	right: 25px;
	top: 3px;
}

#header .banner .symbol .small {
	display: none;
}

/*
Page
*/
#page > .container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

#page-content {
	padding: 2px 15px 15px 15px;
}

#navigation {
	-moz-border-radius: 0 0 9px 9px;
	-webkit-border-radius: 0 0 9px 9px;
	background-color: #800000;
	color: #ffffff;
	overflow: hidden;
}

#navigation a:link, #navigation a:visited {
	color: #ffffff;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#navigation ul li a {
	display: block;
	overflow: hidden;
	padding: 3px 0;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

#navigation ul li a:hover {
	background-color: #9a0000;
}

#navigation .user {
	background-color: green;
}