/*
    Document   : dashboard
    Created on : Jan 16, 2011, 8:54:07 AM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

.user-has-no-vehicles {
	display: none;
}

#vehicles {
	list-style: none;
	margin: 0;
	padding: 0;
}

#vehicles .vehicle {
	border-radius: 5px;
	margin-top: 7px;
	position: relative;
}

#vehicles .vehicle.deleting:hover, #vehicles .vehicle.deleting {
	background-color: red;
}

#vehicles .vehicle:nth-child(odd) {
	background-color: #eeeeee;
}

#vehicles .vehicle:hover {
	background-color: #dddcdc;
}

#vehicles .vehicle:nth-child(odd):hover {
	background-color: #dadada;
}

#vehicles .vehicle .container {
	padding: 7px;
}

#vehicles .vehicle .edit {
	display: none;
}

#vehicles .vehicle .actions {
	margin-bottom: 7px;
	overflow: hidden;
}

#vehicles .vehicle .actions > a {
	background-color: rgb(175, 207, 169);
	border-radius: 5px 5px 5px 5px;
	color: white;
	display: block;
	float: left;
	font-size: 20px;
	margin: 7px 0 0 7px;
	padding: 30px 20px;
	text-decoration: none;
	white-space: nowrap;
}

#vehicles .vehicle .delete {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
}