/*
    Document   : dashboard
    Created on : Jan 16, 2011, 8:54:07 AM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

.user-has-no-vehicles {
	display: none;
}

#vehicles {
	list-style: none;
	margin: 0;
	padding: 0;
}

#vehicles .vehicle {
	border-radius: 5px;
	margin-top: 7px;
}

#vehicles .vehicle:nth-child(odd) {
	background-color: #eeeeee;
}

#vehicles .vehicle:hover {
	background-color: #dddcdc;
}

#vehicles .vehicle:nth-child(odd):hover {
	background-color: #dadada;
}

#vehicles .vehicle .container {
	padding: 7px;
}

#vehicles .vehicle a.container {
	display: block;
}

#vehicles .vehicle .edit {
	display: none;
}