/* 
    Document   : fuel-log-list-small
    Created on : Mar 18, 2012, 8:02:07 PM
    Author     : josh
    Description:
        Styles for 600px and smaller screen widths
*/

@media screen and (max-width: 600px) {

	.fuel-log .display {
		height: 130px;
	}

	.fuel-log .display .economy {
		left: 3px;
		top: 60px;
	}

}