/*
    Document   : fuel-log-list-small
    Created on : Mar 18, 2012, 8:02:07 PM
    Author     : josh
    Description:
        Styles for 600px and smaller screen widths
*/

@media screen and (max-width: 600px) {

	#page-content {
		padding-left: 0;
		padding-right: 0;
	}

	.options > .add {
		font-size: 20pt;
	}

	.fuel-log .date input {
		width: 100px;
	}

	.fuel-log .cost {
		left: 123px;
	}

	.fuel-log .cost input {
		font-size: inherit;
		width: 60px;
	}

	.fuel-log .cost-per-fuel {
		left: 207px;
	}

	.fuel-log .odometer input {
		width: 82px;
	}

	.fuel-log > .display > .odometer > .number {
		font-size: inherit;
	}

	.fuel-log > .display > .fuel > .number {
		font-size: inherit;
	}

	.fuel-log .fuel {
		left: 135px;
	}

	.fuel-log .fuel input {
		width: 60px;
	}

	.fuel-log .economy {
		top: 30px;
	}

	.fuel-log > .display > .economy > .number {
		font-size: 20pt;
	}

	.fuel-log > .display > .economy > .units {
		font-size: 15pt;
	}

	.fuel-log .octane input {
		font-size: inherit;
		width: 36px;
	}

}