/* Graph */
#graph-holder {
	position: relative;
}

#graph-holder > .average-economy {
	position: absolute;
	right: 0;
	top: -25px;
}

#graph {
	background-color: #f2f2f2;
	height: 125px;
	margin-bottom: 30px;
}

.options {
	height: 45px;
	position: relative;
}

.options > .add {
	background-color: #E9FFE6;
	border-left: 13px solid #1FD700;
	cursor: pointer;
	font-size: 23pt;
	left: 0;
	padding: 1px 10px 1px 34px;
	position: absolute;
	top: 0;
}

.options > .add.disabled {
	background-color: #eeeeee;
	border-color: #bfbfbf;
	cursor: default;
}

.options > .add > .indicator {
	left: 5px;
	position: absolute;
	text-align: right;
	top: -2px;
	width: 25px;
}

#fuel-logs {
/*	font-size: 17pt;*/
	list-style: none;
	margin: 0;
	padding: 0;
}

#fuel-logs input {
	font-size: 17pt;
}

#fuel-logs input[type=text] {
/*	background-color: #DAF1FF;*/
	background-color: #FFFFB8;
	border: none;
	padding: 0;
}

#fuel-logs input[type=text].error {
/*	background-color: #FFD6D6;*/
	background-color: #FFBBB8;
}

#fuel-logs > li {
	border-bottom: 1px solid #ececec;
}

#fuel-logs > li:hover, #fuel-logs > li.odd:hover {
	background-color: #ececec;
}

#fuel-logs > li.editing:hover {
	background-color: #E9FFE6;
}

#fuel-logs > li.odd {
	background-color: #f8f8f8;
}

#fuel-logs > li.altMonth1 {
	border-left: 3px solid #3230FF;
}

#fuel-logs > li.altMonth2 {
	border-left: 3px solid #B7BBFF;
}
#fuel-logs > li.new {
	background-color: #E9FFE6;
	border-left: 6px solid #1FD700;
	display: none;
}


#fuel-logs > li.available.unused {
	display: none;
}

#fuel-logs > li.editing {
	background-color: #E9FFE6;
/*	border-bottom: 3px dotted black;*/
	border-left: 6px solid #1FD700;
/*	border-right: 3px dotted black;
	border-top: 3px dotted black;*/
}

#fuel-logs > li.fresh {
	background-color: #FFFFB8;
}

#fuel-logs > li.disabled.lead {
	border-left: 3px solid #1FD700;
}

#fuel-logs > li > form > .display {
	height: 80px;
	position: relative;
}

/* Odometer */
#fuel-logs > li > form > .display > .odometer {
	left: 9px;
	position: absolute;
	top: 33px;
}

#fuel-logs > li > form > .display > .odometer > .number {
	font-size: 17pt;
}

#fuel-logs > li > form > .display > .odometer > .units {
	color: #d1d1d1;
/*	font-size: 12pt;*/
}

/* Fuel */
#fuel-logs > li > form > .display > .fuel {
	left: 138px;
	position: absolute;
	top: 33px;
}

#fuel-logs > li > form > .display > .fuel > .number {
	font-size: 17pt;
}

#fuel-logs > li > form > .display > .fuel > .units {
	color: #d1d1d1;
	font-size: 12pt;
}

#fuel-logs > li > form > .display > .date {
	color: #c7c7c7;
/*	font-size: 12pt;*/
	left: 10px;
	position: absolute;
	top: 2px;
}

#fuel-logs > li > form > .display > .date > input.edit {
	color: #c7c7c7;
	font-size: 12pt;
	width: 95px;
}

#fuel-logs > li > form > .display > .economy {
/*	left: 390px;*/
	position: absolute;
	right: 10px;
	top: 1px;
}

#fuel-logs > li > form > .display > .economy > .number {
	font-size: 40pt;
	color: #6EAB75;
}

#fuel-logs > li.editing > form > .display > .economy > .number {
	color: #CFCDCD;
}

#fuel-logs > li > form > .display > .economy > .units {
	color: #ababab;
	font-size: 30pt;
}

#fuel-logs > li > form > .display > .edit-button {
	bottom: 2px;
	display: none;
	font-size: 12pt;
	position: absolute;
	right: 16px;
}

#fuel-logs > li:hover > form > .display > .edit-button {
	display: block;
}

#fuel-logs > li.editing > form > .display > .edit-button, #fuel-logs > li.disabled > form > .display > .edit-button {
	display: none;
}

/* Viewing */
#fuel-logs > li .edit {
	display: none;
}

/* Editing */
#fuel-logs > li.editing .edit {
	display: inline;
}
#fuel-logs > li.editing .view {
	display: none;
}

/* Edit Section */
#fuel-logs > li > form > .edit-section {
/*	background-color: #FFFFB8;*/
	display: none;
}
#fuel-logs > li.new > form > .edit-section {
	display: block;
}

#fuel-logs > li > form > .edit-section > .separator {
	background-color: #d1d1d1;
	height: 1px;
	margin: 0 23px;
}

#fuel-logs > li > form > .edit-section > .holder {
	padding: 5px;
	position: relative;
}

#fuel-logs > li > form > .edit-section > .holder > .octane > label > input {
	width: 35px;
}

#fuel-logs > li > form > .edit-section > .holder > .submit {
	bottom: 5px;
	position: absolute;
	right: 5px;
}

/* Paging */
.paging {
	display: none;
}