/* Graph */
#graph-holder {
	position: relative;
}

#graph {
	background-color: #f2f2f2;
	height: 150px;
	margin-bottom: 30px;
}

#graph .jqplot-axis.jqplot-xaxis {
	overflow: hidden;
}

.options {
	height: 45px;
	position: relative;
}

.options > .add {
	background-color: #E9FFE6;
	border-left: 13px solid #1FD700;
	color: #000000;
	display: block;
	font-size: 23pt;
	left: 0;
	padding: 1px 10px 1px 34px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

.options > .add.disabled {
	background-color: #eeeeee;
	border-color: #bfbfbf;
	cursor: default;
}

.options > .add > .indicator {
	left: 5px;
	position: absolute;
	text-align: right;
	top: -2px;
	width: 25px;
}

#fuel-logs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fuel-log input {
	font-size: 17pt;
}

.fuel-log input[type=text] {
	background-color: #FFFFB8;
	border: none;
	padding: 0;
}

.fuel-log input[type=text].error {
	background-color: #FFBBB8;
}

.fuel-log {
	border-bottom: 1px solid #ececec;
}

.fuel-log:hover, .fuel-log:nth-child(odd):hover {
	background-color: #ececec;
}

.fuel-log:nth-child(odd) {
	background-color: #f8f8f8;
}

.fuel-log.altMonth1 {
	border-left: 3px solid #3230FF;
}

.fuel-log.altMonth2 {
	border-left: 3px solid #B7BBFF;
}
.fuel-log.new {
	background-color: #E9FFE6;
	border-left: 6px solid #1FD700;
	display: none;
}


.fuel-log.available.unused {
	display: none;
}

.fuel-log.editing, .fuel-log.editing:hover {
	background-color: rgb(255, 237, 140);
	border-left: 6px solid gold;
}

.fuel-log.is-new, .fuel-log.is-new:hover {
	background-color: #E9FFE6;
	border: 1px dashed black;
	border-left: 6px solid #1FD700;
        margin-bottom: 15px;
}

.fuel-log.is-new input {
    color: gray;
}

.fuel-log.is-new .cost-per-fuel {
	display: none;
}

.fuel-log.fresh {
	background-color: #FFFFB8;
}

.fuel-log.disabled.lead {
	border-left: 3px solid #1FD700;
}

.fuel-log .display {
	height: 110px;
	position: relative;
}

/* Odometer */
.fuel-log .odometer {
	left: 9px;
	position: absolute;
	top: 63px;
}

.fuel-log .odometer > .number {
	font-size: 17pt;
}

.fuel-log .odometer > .units {
	color: #d1d1d1;
/*	font-size: 12pt;*/
}

/* Fuel */
.fuel-log .fuel {
	left: 175px;
	position: absolute;
	top: 63px;
}

.fuel-log .fuel > .number {
	font-size: 17pt;
}

.fuel-log .fuel > .units, .fuel-log label {
	color: #d1d1d1;
	font-size: 12pt;
}

.fuel-log .date {
	color: #c7c7c7;
	left: 10px;
	position: absolute;
	top: 2px;
}

.fuel-log .date input {
	color: #c7c7c7;
	font-size: 12pt;
	height: 26px;
	width: 250px;
}

.fuel-log .cost {
	color: #c7c7c7;
	left: 162px;
	position: absolute;
	top: 33px;
}

.fuel-log .cost input {
	border: none;
	font-size: 14pt;
	text-align: right;
	width: 100px;
}

.fuel-log .cost-per-fuel {
	color: #c7c7c7;
	left: 290px;
	position: absolute;
	top: 34px;
}

.fuel-log .cost-per-fuel:first-letter {
	font-size: 16pt;
	vertical-align: top;
}

.fuel-log .odometer input {
	width: 130px;
}

.fuel-log .fuel input {
	text-align: right;
	width: 100px;
}

.fuel-log .economy {
	position: absolute;
	right: 10px;
	top: 1px;
}

.fuel-log .economy .number {
	font-size: 40pt;
	color: #6EAB75;
}

.fuel-log.editing .economy > .number {
	color: #CFCDCD;
}

.fuel-log .economy > .units {
	color: #ababab;
	font-size: 30pt;
}

/* Viewing */
.fuel-log .edit {
	display: none;
}

/* Editing */
.fuel-log.editing .edit {
	display: inline;
}
.fuel-log.editing .view {
	display: none;
}

/* Edit Section */
.fuel-log .edit-section {
	display: none;
}

.fuel-log.editing .edit-section {
	display: block;
}

.fuel-log.new .edit-section {
	display: block;
}

.fuel-log .edit-section > .separator {
	background-color: #d1d1d1;
	height: 1px;
	margin: 0 23px;
}

.fuel-log .edit-section > .holder {
	padding: 5px;
	position: relative;
}

.fuel-log .octane input {
	width: 60px;
}

.fuel-log .edit-section > .holder > .submit {
	bottom: 5px;
	position: absolute;
	right: 5px;
}

/* Paging */
.paging {
	display: none;
}