/* 
    Document   : layout-01-small
    Created on : Mar 18, 2012, 8:31:14 PM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 960px) {
	
	#page > .container {
		width: auto;
	}
	
}

@media screen and (max-width: 933px) {
	
	#header .banner {
		width: auto;
	}
	
}