/*
    Document   : service-log-list-small
    Created on : Mar 18, 2012, 8:08:43 PM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 600px) {

}