/* 
    Document   : service-log-list-small
    Created on : Mar 18, 2012, 8:08:43 PM
    Author     : josh
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 600px) {
	
	.service-log .summary {
		left: 32px;
		top: 69px;
	}
	
	.service-log .summary input, .service-log .description textarea {
		width: 400px;
	}
	
	.service-log .description {
		margin-top: 104px;
	}
	
}